//==========
// ABOUT
//==========

#about {
  background: linear-gradient(to bottom right, $dark-blue 30%, $darker-blue 70%);
  color: $dark-gray;

  & a {
    color: $dark-gray;

    &:visited {
      color: $dark-gray;
    }

    &:hover {
      color: #fff;
    }
  }

  @include breakpoint($large) {
    padding-top: 30px;
  }
}

#about .section-title {
  color: $dark-gray;
  text-shadow: 1px 1px 0px $dark-blue, 2px 2px 0px $light-blue;
}

.about-container {
  width: 80%;
  padding-bottom: 100px;
  max-width: 495px;
  display: block;
  margin: 0 auto;

  @include breakpoint($large) {
    max-width: 600px;
    padding-bottom: 120px;
  }  
}

.portrait {
  max-width: 150px;
  margin: 0 auto 40px;

  @include breakpoint($small) {
    max-width: 90px;
    margin-right: 5%;
    margin-bottom: 0px;
    float: left;
  }

  @include breakpoint($large) {
    max-width: 105px;
  }
}

.headshot {
  border-radius: 50%;
}