
//========
// INTRO
//========

#intro {
	background: url('../images/bg.jpg') no-repeat center center;
	color: $dark-blue;
}

.intro-text-container {
  padding-top: 50px;
  padding-bottom: 100px;

  @include breakpoint($large) {
	  padding-top: 60px;
	  padding-bottom: 280px;
  }
}