
//========
// INTRO
//========

#intro {
  background: linear-gradient(to bottom right, $light-green 30%, $dark-green 70%);
  color: $dark-blue;
	padding: 60px 0;

  @include breakpoint($large) {
    padding: 85px 0;
  }
}