//==========
// SKILLS
//==========

#skills {
  background-color: #000;
  color: #fff;
}

h3 {
  display: inline-block;
  font-size: 1.75em;
  font-family: 'Nunito', sans-serif;
  text-shadow: 0px 1px 1px #fff;
}

h3:after {
  content: " ";
  display: block;
  margin: 14px auto 35px;
  width: 125px;
  border: solid 2px $dark-blue;
}

.skill-list {
  margin-bottom: 65px;
}

.skill-list li {
  margin-bottom: 20px;
  font-size: 1.125em;
}

$badge-size: 175px;

.skill-badge {
  display: block;
  margin: 5px auto 30px auto;
  width: $badge-size;
  height: $badge-size;
  line-height: $badge-size;
  font-size: 3em;
  background-color: #fff;
  border-radius: 50%;
  border-bottom: 1px solid #BDC3C7;
  transition: 200ms ease-in-out;

  &:hover {
    font-size: 3.5em;
  }
}