.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
  float: right;
}

// Content

.content-container {
  font: 1.05rem/1.8 "Open Sans", sans-serif;

  @include breakpoint($small) {
    font-size: 1.125rem;
  }
}

// Headers

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.work-page-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  border-bottom: 1px solid $silver;
  padding-bottom: 10px;
  margin-bottom: 2px;

  @include breakpoint($small) {
    font-size: 1.75rem;
  }
}

.work-sub-title {
  font-family: 'Open Sans', sans-serif;
  color: $silver;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 25px;
  display: inline-block;

  @include breakpoint($small) {
    font-size: 1.125rem;
  }
}


// Logo

.logo {
  font-size: 2em;
  font-family: 'Leckerli One', serif;
}


// Section Title

.section-title {
  font-size: 3.75em;
  font-weight: 400;
  text-transform: capitalize;
  padding-top: 45px;
  margin-bottom: 35px;
  font-family: 'Leckerli One', serif;
  text-shadow: 1px 1px 0px $gray, 2px 2px 0px $light-blue;
}


// Intro Text
//~~~~~~~~~~~~~~

.shadow {
  color: $gray;
  text-shadow: 3px 3px 0px #780206, 7px 7px 0px #061161;
}

.intro-text-1 {
  font-family: 'Cookie', serif;
  font-size: 6em;
  line-height: 0.875em;

  @include breakpoint($small) {
    font-size: 6.5em;
  }
}

.intro-text-2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  line-height: 1.5em;

  @include breakpoint($small) {
    font-size: 4em;
  }
}

.and-block {
  display: inline-block;
  font-size: 1.5em;
  line-height: 1.4em;
  transform: skew(0,-5deg);
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;

  @include breakpoint($small) {
    margin: 50px 0 35px 0;
    font-size: 2em;
    line-height: 1.5em;
  }
}

.intro-text-3 {
  border-top: 3px solid $gray;
  border-bottom: 3px solid $gray;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Open Sans Condensed', sans-serif;
}

.intro-text-4 {
  font-family: 'Cookie', serif;
  font-size: 4em;
  line-height: 1.2em;
  display: block;

  @include breakpoint($small) {
    font-size: 5em;
    display: inline;
  }
}

.intro-text-5 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3em;
  line-height: 1.5em;
  text-transform: uppercase;

  @include breakpoint($small) {
    font-size: 4em;
    text-transform: none;
  }
}

// Contact Page Text

.page-id-16 p {
  line-height: 1.6;
  font-size: 1.125rem;
  text-align: left;

  @include breakpoint($large) {
    line-height: 1.7;
    font-size: 1.375rem;
  }
}

// About Text 

.about-text {
  line-height: 1.6;
  font-size: 1.125rem;
  text-align: left;

  @include breakpoint($large) {
    line-height: 1.7;
    font-size: 1.375rem;
  }
}