.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.content-container {
  padding: 0 15px;
  margin: 2rem auto 4rem;

  @include breakpoint($small) {
    padding: 0 30px;
    margin: 2.75rem auto 4.5rem;
  }

  @include breakpoint($large) {
    margin: 3rem auto 5.5rem auto;
  }
}

.max-width-container {
  max-width: 540px;

  @include breakpoint($small) {
    max-width: 650px;
  }
}

@include breakpoint($large) {
	.center-container {
		margin-left: auto;
		margin-right: auto;
	}
}