footer {
  font-size: 1em;
  background-color: $dark-gray;
  color: $silver;
  box-shadow: inset 0 2px 2px rgba(100, 100, 100, 0.1);
  text-align: center;

  @include breakpoint($large) {
  	text-align: left;
  	height: 110px;
  }
}

.footer-wrapper {
  margin: 0 auto;
  text-align: center;

  @include breakpoint($large) {
    display: inline-block;
	  line-height: 110px;
  }
}

.footer-logo {
	display: none;
	color: $dark-silver;
	font-size: 1.625em;

	&:hover {
		color: $silver;
	}

	@include breakpoint($large) {
		display: inline;
		margin-right: 30px;
	}
}