
// Navigation
//~~~~~~~~~~~~~~

// Pull out common elements from header and footer nav

// Header Navigation
//~~~~~~~~~~~~~~~~~~~~~

.header-nav {
  display: none;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  line-height: 80px;

  @include breakpoint($large) {
    display: inline-block;
  }

  &-link {
    padding: 6px 13px;
    margin-right: 50px;
    font-size: 0.9375rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.cta {
  background-color: $light-blue;
  color: #fff;
  font-weight: normal;
  border-radius: 3px;
  transition: 250ms ease-in-out;

  &:hover {
    background-color: $blue;
    color: #fff;
  }

  &:visited {
    color: #fff;
  }
}


// Mobile Navigation
//~~~~~~~~~~~~~~~~~~~~~

.mobile-nav {
  position: absolute;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 80px;
  top: 0;
  left: -300px;
  width: 300px;
  height: 120%;
  background-color: $gray;
  text-align: left;
  z-index: 30;
  transition: 200ms ease-in-out;

  &-list__item {
    border-bottom: solid 1px #ddd;
    transition: 500ms ease;
  }


  &-list__item a {
    display: block;
    padding: 25px 0 25px 15px;
  }
}

.standout {
  background-color: $dark-gray;
  border-left: 5px solid $dark-blue;
}


// Footer Navigation
//~~~~~~~~~~~~~~~~~~~~~

.footer-nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding: 40px 0 30px;

  @include breakpoint($large) {
    padding: 0;
  }
  
  &-link {
    display: inline-block;
    padding: 0 5px;
    margin-right: 5px;
    font-size: 0.875rem;
    color: $dark-silver;

    &:visited {
      color: $dark-silver;
    }

    &:hover {
      color: $darkest-silver;
    }

    @include breakpoint(480px) {
      font-size: 0.9375em;
      padding: 0 13px;
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}