.post {
  margin: 2rem auto 4rem;

  @include breakpoint($small) {
    margin: 2.75rem auto 4.5rem;
  }

  @include breakpoint($large) {
    margin: 3rem auto 5.5rem;
  }

}

.post-title {
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 7px;

  @include breakpoint($small) {
    font-size: 2.25rem;
  }

  @include breakpoint($large) {
    font-size: 2.5rem;
  }  
}

.post-meta {
  color: $silver;
  margin-bottom: 15px;
  font-size: 0.9375rem;
}

.post-date,
.post-category,
.post-tag {
  display: inline-block;
  margin-bottom: 8px;
}

.post-date:before,
.post-category:before,
.post-tag:before {
  font-family: "Icomoon";
  font-size: 0.875rem;
  color: $silver;
}

.post-date:before {
  content: "\f133";
  margin-right: 10px;
}

.post-category:before {
  content: "\e805";
}

.post-tag:before {
  content: "\e800";
}

.post-date,
.post-category {
  margin-right: 18px;
}

a[rel~="category"],
a[rel~="tag"] {
  color: $silver;
  margin-left: 3px;

  &:hover {
    color: $light-blue;
  }
}

a[rel~="category"] {
  margin-left: 7px;
}

.content-container p {
  margin-bottom: 2rem;
}