//==============
// BLOG
//==============

.wrap {
  max-width: 1140px;
  margin: 0 auto;
}

.post-container {
  max-width: 540px;
  padding: 0 15px;
  text-align: left;
  margin: 2rem auto 4rem;

  @include breakpoint($small) {
    max-width: 650px;
    padding: 0 30px;
    margin: 2.75rem auto 4.5rem;
  }

  @include breakpoint($large) {
    margin: 3rem 5% 5.5rem auto;
  }
}

.post-title {
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 7px;

  @include breakpoint($large) {
    font-size: 2.5rem;
  }  
}

.post-meta {
  color: $silver;
  margin-bottom: 15px;
  font-size: 0.9375rem;
}

.post-date,
.post-category,
.post-tag {
  display: inline-block;
  margin-bottom: 8px;
}

.post-date:before,
.post-category:before,
.post-tag:before {
  font-family: "Icomoon";
  font-size: 0.875rem;
  color: $silver;
}

.post-date:before {
  content: "\f133";
  margin-right: 10px;
}

.post-category:before {
  content: "\e805";
}

.post-tag:before {
  content: "\e800";
}

.post-date,
.post-category {
  margin-right: 18px;
}

a[rel~="category"],
a[rel~="tag"] {
  color: $silver;
  margin-left: 3px;

  &:hover {
    color: $light-blue;
  }
}

a[rel~="category"] {
  margin-left: 7px;
}

.post-content {
  font: 1.05rem/1.8 "Open Sans",sans-serif;

  @include breakpoint($small) {
    font-size: 1.125rem;
  }
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.post-content p {
  margin-bottom: 2rem;
}

.read-more {
  background-color: $light-green;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 0.875rem;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 6px;
  
  &:hover {
    background-color: $dark-green;
    color: #fff;
  }
}
